.premium-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.pdf-container {
    background-color: aliceblue;

}

@media screen and (max-width: 780px) {
    .premium-container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    /* .list-container {
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
    }

    .card-container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30vw;
        margin-left: 20%;
    } */
}

@media screen and (max-width: 550px) {
    .premium-container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    /* .list-container {
        margin-top: 10px;
        margin-top: 10px;
        margin-left: 5%;
    }

    .card-container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30vw;
        margin-left: 20%;
    } */
}