.single-card {
    width: 300px;
    height: 518px;
    top: 40px;
    border: 1px solid #95a0a7;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
    padding: 7px;
    position: relative;
    box-shadow: inset 0 -3em 3em rgba(183, 180, 199, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(149, 151, 167, 0.3);
}

.single-card img {
    height: 286px;
    width: 286px;
    left: 7px;
    top: 8px;
    border-radius: 8px;
}

.course-name {
    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    margin-top: 10px;
    color: rgb(78, 126, 126);
}

.course-info p {
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(78, 126, 126);
    font-size: 15px;
}

.text-link {
    text-decoration: none;
}