body {
  background: url('../src/assets/bg.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

.white-content {
  background: #e4e4e4;
}

/* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */