

body {
  background: url('../src/assets/bg.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
 margin: 0;
  padding: 0;

}

/* linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), */